/*Main About*/
.about {
    @include flex (column, center, center);
    padding: 2rem;

    &__me {
        background-color: $color__third;
        margin: 2rem;
        transform: all .3s ease-in-out;

        &__parrafo {
            text-align: center;
            padding: 2rem;
            margin: 1rem;
            font-size: 2em;
            color: $color__first;
        }
    }

    &__knowledge {
        @include flex (row, space-around, center);
        flex-wrap: wrap;
        background-color: rgb(250, 248, 248);
        box-shadow: 0 0 30px 0 #00000033;
        color: $color__cuarter;
        width: 80%;

        &__list {
            @include flex (column, center, center);
            padding: 1rem;
            margin-bottom: 2rem;
            font-size: 2em;

            &__titule {
                padding: 2rem;  
                font-weight: map-get($font-weight, m);
                color: $color__third;

            }
            &__item {
                padding: 0.5rem;
                font-size: 1em;
                font-weight: map-get($font-weight, s);
            }
        }
    }
}