/*Main Contact*/
.contact {
    @include flex (column, space-between, center);
    
    &__form {
        @include flex (column, center, stretch);
        background-color:  rgba(196, 196, 196, 0.7);
        border-radius: 20px;
        padding: 2rem;
        margin: 2rem 0;
        transform: all .3s ease-in-out;

        &__item {
            background: rgb(234, 242, 250);
            border: none;
            border-radius: 5px;
            padding: 1rem;
            margin: 1.5rem;
            font-size: 1.5em;   
        }

        &__button {
            @extend .button;
            font-size: 1.4em;
        }
    }
}