/*Main home*/
.inicio {
    @include flex (column, space-between, center);

    &__name {
        text-align: center;
        padding: 4rem 0;
        font-size: 4em;
        color: $color__cuarter;
    }

    &__rol {
        @extend .inicio;
        padding: 2rem 0;
        transform: all .3s ease-in-out;

        &__item1 {
            padding: 2rem;
            font-size: 6em;
            font-weight: map-get($font-weight, xl);
        }

        &__item2 {
            padding: 2rem;
            font-size: 4em;
            font-weight: map-get($font-weight, l);
        }

        &__item3 {
            padding: 2rem;
            margin-bottom: 3rem;
            font-size: 3em;
            font-weight: map-get($font-weight, m);
        }

        &__description {
            text-align: center;
            padding: 4rem 2rem;
            font-size: 2em;
            font-weight: map-get($font-weight, xs);
            color: $color__cuarter;
        }
    }
}