/*Variables*/
/*Variables*/
/*Global*/
/*Import font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,300;1,600;1,800&display=swap");
/*Normalize*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Se agrega !important para que no se priorice el estilo que da Boostrap*/
/*Globals */
html {
  font-family: "Montserrat", sans-serif !important;
  font-size: 62.5%;
  color: #942e2e;
  font-weight: none !important;
  line-height: none !important; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  /*Moficaciones Bootstrap*/
  margin: 0;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  color: inherit !important; }

ul {
  list-style-type: none; }

a {
  text-decoration: none !important;
  color: var(--color__third) !important;
  display: inline-block; }

h2, h3 {
  font-weight: bold !important; }

h2 {
  font-size: 3em !important; }

h3 {
  font-size: 2em !important; }

ol, ul {
  padding: 0 !important; }

/*Helpers*/
.flex_row {
  display: flex; }

.flex_column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

.button {
  color: #ffffff;
  background: #f30c0c;
  padding: 1rem;
  margin: 0rem 12rem;
  border: none;
  border-radius: 2rem; }
  .button:hover {
    font-weight: 600;
    font-size: 1.6em; }

.button_dos {
  color: #f30c0c !important;
  font-size: 1.6em !important;
  font-weight: 520 !important;
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem;
  border: solid 0.2rem #f30c0c;
  border-radius: 2rem; }
  .button_dos:hover {
    color: #ffffff !important;
    background-color: #f30c0c; }

/*Partial*/
/*Header and Navbar*/
header {
  min-height: 10vh;
  border-bottom: solid 0.3rem #f0e6e6; }
  header .navbar {
    justify-content: space-between !important;
    align-items: center !important; }
    header .navbar .logo {
      flex-basis: 30% !important; }
    header .navbar .menu {
      flex-basis: 50% !important;
      justify-content: space-between !important; }
      header .navbar .menu__item__link {
        font-size: 1.8em !important;
        padding: 1rem !important;
        transition: all .3s ease-in-out !important; }
        header .navbar .menu__item__link:hover {
          font-weight: 600 !important;
          color: #f30c0c !important; }
        header .navbar .menu__item__link--boton {
          font-size: 1.8em !important;
          padding: 1rem !important;
          color: #ffffff !important;
          background-color: #f30c0c !important;
          border-radius: 20px !important; }
          header .navbar .menu__item__link--boton:hover {
            font-weight: 600 !important; }
      header .navbar .menu__item .submenu {
        display: none !important;
        position: absolute !important; }
        header .navbar .menu__item .submenu__item__link {
          font-size: 1.4em !important;
          padding: 1rem !important;
          transform: all .3s ease-in-out !important;
          font-weight: 600 !important; }
          header .navbar .menu__item .submenu__item__link:hover {
            font-weight: 900 !important;
            font-size: 1.7em !important;
            color: #f30c0c !important; }
      header .navbar .menu__item:hover .submenu {
        display: block !important; }

/*Footer*/
footer {
  background: linear-gradient(0.1deg, #f30c0c 0, 2%, rgba(194, 67, 39, 0) 93.73%); }
  footer .foot {
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    padding: 0 2rem; }
    footer .foot .otraInfo {
      justify-content: center;
      flex-basis: 30%;
      gap: 2rem; }
      footer .foot .otraInfo__item {
        flex-basis: 20%; }
        footer .foot .otraInfo__item__link {
          font-size: 2.5em;
          padding: 1rem;
          color: #f30c0c !important;
          transform: all .3s ease-in-out !important; }
          footer .foot .otraInfo__item__link:hover {
            font-size: 3.2em; }
    footer .foot__right {
      font-size: 1.3em; }

/*views*/
/*Main*/
main {
  background-image: url("../image/fondo.png");
  background-position: center;
  background-repeat: no-repeat; }
  main .inicio {
    justify-content: space-between;
    padding: 0 2rem; }
    main .inicio__name {
      justify-content: space-around;
      padding: 4rem 0;
      font-size: 4em;
      color: #000000;
      text-align: center; }
    main .inicio__rol {
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      transform: all .3s ease-in-out; }
      main .inicio__rol__item1 {
        padding: 2rem;
        font-size: 6em;
        font-weight: 800;
        text-align: center; }
      main .inicio__rol__item2 {
        padding: 2rem;
        font-size: 4em;
        font-weight: 700;
        text-align: center; }
      main .inicio__rol__item3 {
        padding: 2rem;
        font-size: 3em;
        font-weight: 600;
        text-align: center;
        margin-bottom: 3rem; }
      main .inicio__rol__description {
        padding: 4rem 2rem;
        font-size: 2em;
        font-weight: 400;
        text-align: center;
        color: #000000; }

/*Medias*/
/*Media Queries*/
@media screen and (max-width: 540px) {
  /*Propiedad navbar para responsive sass*/
  .navbar {
    flex-direction: column; }
  .about .about__me {
    margin: 2rem 0; }
  .about .about__knowledge {
    width: 100%; } }

@media screen and (max-width: 480px) {
  /*Propiedad body para responsive sass*/
  body {
    justify-content: space-around; }
  .general__subdiv__item {
    flex-basis: 80%; }
  .navbar .menu .menu__item:hover .submenu {
    display: none !important; }
  /*Propiedad menu__item__link y menu__item__link--boton para responsive sass*/
  .menu .menu__item .menu__item__link {
    font-size: 1.7em !important;
    padding: 0.6rem !important; }
  .menu .menu__item .menu__item__link--boton {
    font-size: 1.7em !important;
    padding: 0.6rem !important; } }

@media screen and (max-width: 360px) {
  .menu .menu__item .menu__item__link {
    font-size: 1.5em !important;
    padding: 0.5rem !important; }
  .menu .menu__item .menu__item__link--boton {
    font-size: 1.5em !important;
    padding: 0.5rem !important; } }
