/*Variables*/
/*Variables*/
/*Map*/
/*Global*/
/*Import font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,300;1,600;1,800&display=swap");
/*Normalize*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Se agrega !important para que no se priorice el estilo que da Boostrap*/
/*Globals */
html {
  font-family: "Montserrat", sans-serif !important;
  font-size: 62.5%;
  font-weight: none !important;
  color: #942e2e;
  line-height: none !important; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  /*Moficaciones Bootstrap*/
  margin: 0;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  color: inherit !important;
  line-height: inherit !important; }

ul {
  list-style-type: none; }

a {
  text-decoration: none !important;
  color: var(--color__third) !important;
  display: inline-block; }

h2, h3 {
  font-weight: bold !important; }

h2 {
  font-size: 3em !important; }

h3 {
  font-size: 2em !important; }

ol, ul {
  padding: 0 !important; }

/*Mixinns*/
/*Helpers*/
.container {
  max-width: 1080px;
  margin: 0 auto; }

.button, .contact__form__button {
  background: #f30c0c;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  margin: 0rem 12rem;
  color: #ffffff; }
  .button:hover, .contact__form__button:hover {
    font-size: 1.6em;
    font-weight: 600; }

.button_dos {
  background-color: #ffffff;
  border: solid 0.2rem #f30c0c;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.6em !important;
  font-weight: 520 !important;
  color: #f30c0c !important; }
  .button_dos:hover {
    background-color: #f30c0c;
    color: #ffffff !important; }

/*Partial*/
/*Header and Navbar*/
header {
  min-height: 10vh;
  border-bottom: solid 0.3rem #f0e6e6; }
  header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    header .navbar .logo {
      flex-basis: 30% !important; }
    header .navbar .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-basis: 50% !important; }
      header .navbar .menu__item__link, header .navbar .menu__item__link--boton {
        font-size: 1.8em !important;
        padding: 1rem !important;
        transition: all .3s ease-in-out !important; }
        header .navbar .menu__item__link:hover, header .navbar .menu__item__link--boton:hover {
          font-weight: 600 !important;
          color: #f30c0c !important; }
        header .navbar .menu__item__link--boton {
          color: #ffffff !important;
          background-color: #f30c0c !important;
          border-radius: 20px !important; }
          header .navbar .menu__item__link--boton:hover {
            color: #ffffff !important;
            font-weight: 600 !important; }
      header .navbar .menu__item .submenu {
        display: none !important;
        position: absolute !important; }
        header .navbar .menu__item .submenu__item__link {
          padding: 1rem !important;
          transform: all .3s ease-in-out !important;
          font-size: 1.4em !important;
          font-weight: 600 !important; }
          header .navbar .menu__item .submenu__item__link:hover {
            font-size: 1.7em !important;
            font-weight: 900 !important;
            color: #f30c0c !important; }
      header .navbar .menu__item:hover .submenu {
        display: block !important; }

/*Main general*/
main {
  background-image: url("../image/fondo.png");
  background-position: center;
  background-repeat: no-repeat; }
  main .principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    text-align: center;
    padding: 1rem 2rem; }
    main .principal__titule {
      color: #942e2e;
      padding: 1rem;
      margin: 0 2rem; }
    main .principal__parrafo {
      color: #000000;
      font-size: 2em;
      padding: 1rem; }

/*Footer*/
footer {
  background: linear-gradient(0.1deg, #f30c0c 0, 2%, rgba(194, 67, 39, 0) 93.73%); }
  footer .foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    padding: 0 2rem; }
    footer .foot .otraInfo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      flex-basis: 30%; }
      footer .foot .otraInfo__item {
        flex-basis: 20%; }
        footer .foot .otraInfo__item__link {
          padding: 1rem;
          font-size: 2.5em;
          color: #f30c0c !important;
          transform: all .3s ease-in-out !important; }
          footer .foot .otraInfo__item__link:hover {
            font-size: 3.2em; }
    footer .foot__right {
      font-size: 1.3em; }

/*views*/
/*Main home*/
.inicio, .inicio__rol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .inicio__name {
    text-align: center;
    padding: 3rem 0;
    font-size: 4em;
    color: #000000; }
  .inicio__rol {
    padding: 2rem 0;
    transform: all .3s ease-in-out; }
    .inicio__rol__item1 {
      padding: 2rem;
      font-size: 4.5em;
      font-weight: 700; }
    .inicio__rol__item2 {
      padding: 2rem;
      font-size: 4em;
      font-weight: 600; }
    .inicio__rol__item3 {
      padding: 2rem;
      margin-bottom: 3rem;
      font-size: 3em;
      font-weight: 500; }
    .inicio__rol__description {
      text-align: center;
      padding: 2rem 2rem;
      font-size: 2em;
      font-weight: 400;
      color: #000000; }

/*Main About*/
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  .about__me {
    background-color: #942e2e;
    margin: 2rem;
    transform: all .3s ease-in-out; }
    .about__me__parrafo {
      text-align: center;
      padding: 2rem;
      margin: 1rem;
      font-size: 2em;
      color: #ffffff; }
  .about__knowledge {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #faf8f8;
    box-shadow: 0 0 30px 0 #00000033;
    color: #000000;
    width: 80%; }
    .about__knowledge__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      margin-bottom: 2rem;
      font-size: 2em; }
      .about__knowledge__list__titule {
        padding: 2rem;
        font-weight: 600;
        color: #942e2e; }
      .about__knowledge__list__item {
        padding: 0.5rem;
        font-size: 1em;
        font-weight: 500; }

/*Main Portfolio and Hobbies*/
.general {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #faf8f8;
  box-shadow: 0 0 30px 0 #00000033;
  margin: 2rem; }
  .general__titule {
    padding: 3rem 0;
    font-size: 2em; }
  .general__subdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    color: #000000; }
    .general__subdiv__item1 {
      font-size: 2em;
      padding: 1rem; }
  .general__subdiv1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 2rem;
    color: #000000; }
    .general__subdiv1__item1 {
      flex-basis: 30%;
      margin: 1rem;
      transition: all .3s ease-in-out; }
      .general__subdiv1__item1:hover {
        transform: scale(1.2, 1.2);
        padding: 0.5rem;
        background-color: #ffffff; }
      .general__subdiv1__item1__img {
        width: 100%;
        height: 100%; }
    .general__subdiv1__item2 {
      flex-basis: 15%;
      margin: 1rem;
      transition: all .3s ease-in-out; }
      .general__subdiv1__item2:hover {
        transform: scale(1.2, 1.2);
        padding: 0.3rem;
        background-color: #ffffff; }
      .general__subdiv1__item2__img {
        width: 100%;
        height: 100%; }
    .general__subdiv1__item2 {
      flex-basis: 25%;
      margin: 1rem; }
    .general__subdiv1__item3 {
      flex-basis: 60%;
      margin: 1rem; }
  .general p {
    font-size: 1.2em; }

/*Main Contact*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: rgba(196, 196, 196, 0.7);
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem 0;
    transform: all .3s ease-in-out; }
    .contact__form__item {
      background: #eaf2fa;
      border: none;
      border-radius: 5px;
      padding: 1rem;
      margin: 1.5rem;
      font-size: 1.5em; }
    .contact__form__button {
      font-size: 1.4em; }

/*Medias*/
/*Media Queries*/
@media screen and (max-width: 540px) {
  /*Propiedad navbar para responsive sass- All pages*/
  header .navbar {
    flex-direction: column; }
  /*Page about*/
  .about .about__me {
    margin: 2rem 0; }
  .about .about__knowledge {
    width: 100%; }
  /*Page hobbies*/
  .general__subdiv1 {
    flex-direction: column;
    flex-wrap: wrap; } }

@media screen and (max-width: 480px) {
  /*Propiedad body para responsive sass- All pages*/
  body {
    justify-content: space-around; }
  /*Pages portfolio and hobbies*/
  .general__subdiv1__item1 {
    flex-basis: 80%; }
  .general__subdiv1__item2 {
    flex-basis: 80%; }
  .general__subdiv1__item3 {
    flex-basis: 80%; }
  /*All pages*/
  .navbar .menu .menu__item:hover .submenu {
    display: none !important; }
  /*Propiedad menu__item__link y menu__item__link--boton para responsive sass- All pages*/
  .menu .menu__item .menu__item__link, .menu .menu__item header .navbar .menu__item__link--boton, header .navbar .menu .menu__item .menu__item__link--boton {
    padding: 0.6rem !important;
    font-size: 1.7em !important; }
  .menu .menu__item .menu__item__link--boton {
    padding: 0.6rem !important;
    font-size: 1.7em !important; } }

@media screen and (max-width: 360px) {
  /*All pages*/
  .menu .menu__item .menu__item__link, .menu .menu__item header .navbar .menu__item__link--boton, header .navbar .menu .menu__item .menu__item__link--boton {
    padding: 0.5rem !important;
    font-size: 1.5em !important; }
  .menu .menu__item .menu__item__link--boton {
    padding: 0.5rem !important;
    font-size: 1.5em !important; } }
