/*Media Queries*/
@media screen and (max-width: 540px)   {
    /*Propiedad navbar para responsive sass- All pages*/
    header .navbar {
        flex-direction: column;
    }
    
    /*Page about*/
    .about .about__me {
        margin: 2rem 0;
    }

    .about .about__knowledge {
        width: 100%;
    }
}

@media screen and (max-width: 480px)   {
    /*Propiedad body para responsive sass- All pages*/
    body {
        justify-content: space-around; 
    }
    
    /*Pages portfolio and hobbies*/
    .general__subdiv1__item1 {
        flex-basis: 80%;
    }

    .general__subdiv1__item2 {
        flex-basis: 80%;
    }

    .general__subdiv1__item3 {
        flex-basis: 80%;
    }


    /*All pages*/
    .navbar .menu .menu__item:hover .submenu { 
        display: none !important;
    }

    /*Propiedad menu__item__link y menu__item__link--boton para responsive sass- All pages*/
    .menu .menu__item .menu__item__link  {
        padding: 0.6rem !important;
        font-size: 1.7em !important;
    }
    .menu .menu__item .menu__item__link--boton {
        padding: 0.6rem !important;
        font-size: 1.7em !important;
    }
}

@media screen and (max-width: 360px)   {

    /*All pages*/
    .menu .menu__item .menu__item__link  {
        padding: 0.5rem !important;
        font-size: 1.5em !important;
    }
    .menu .menu__item .menu__item__link--boton {
        padding: 0.5rem !important;
        font-size: 1.5em !important;
    }
}