/*Mixinns*/

@mixin flex ($flex_direction, $justify_content, $align_items) {
    display: flex;
    flex-direction: $flex_direction;
    justify-content: $justify_content;
    align-items: $align_items;
}    

/*Helpers*/
.container {
    max-width: 1080px; 
    margin: 0 auto;
}

.button {
    background: $color__second;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    margin: 0rem 12rem;
    color: $color__first;
    &:hover {
        font-size: 1.6em;
        font-weight:map-get($font-weight, m)
    }
}

.button_dos {
    background-color: $color__first;
    border: solid 0.2rem $color__second;
    border-radius: 2rem; 
    padding: 1rem;
    margin: 1rem;
    font-size: 1.6em !important;
    font-weight: 520 !important;
    color: $color__second !important;   
    &:hover {
        background-color: $color__second;
        color: $color__first !important;
    }
}