/*Variables*/
$color__first: #ffffff;
$color__second: #f30c0c;
$color__third: #942e2e;
$color__cuarter: #000000;
$font__principal: 'Montserrat', sans-serif;

/*Map*/
$font-weight: (
    xl: 800,
    l: 700,
    m: 600,
    s: 500,
    xs: 400
);

