/*Header and Navbar*/
header {
    min-height: 10vh;
    border-bottom: solid 0.3rem #f0e6e6;

    .navbar {
        justify-content: space-between !important;
        align-items: center !important;

        .logo {
            flex-basis: 30% !important; 
        }

        .menu {
            flex-basis: 50% !important; 
            justify-content: space-between !important;

            &__item {

                &__link {
                    font-size: 1.8em !important;
                    padding: 1rem !important;
                    transition: all .3s ease-in-out !important;   
                    
                    &:hover {
                        font-weight:600 !important;
                        color: $color__second !important;
                    }

                    &--boton {
                        font-size: 1.8em !important;
                        padding: 1rem !important;
                        color:$color__first !important;
                        background-color: $color__second !important;
                        border-radius: 20px !important;

                        &:hover {
                            font-weight:600 !important;
                        }
                    }
                }
                
                .submenu {
                    display: none !important;
                    position: absolute !important;

                    &__item {
                    
                        &__link {
                            font-size: 1.4em !important;
                            padding: 1rem !important;
                            transform: all .3s ease-in-out !important; 
                            font-weight: 600 !important;
                        
                            &:hover {
                                font-weight:900 !important;
                                font-size: 1.7em !important;
                                color: $color__second !important;
                            }

                        }
                    }
                }

                &:hover .submenu { 
                    display: block !important;
                }
            }
        }
    }
}