/*Main general*/
main {
    background-image: url("../image/fondo.png");
    background-position: center;  
    background-repeat: no-repeat;

    .principal {
        justify-content: space-between;
        text-align: center;
        padding: 1rem 2rem;

        &__titule {
            color: $color__third;
            padding: 1rem;
            margin: 0 2rem; 
        }
        &__parrafo {
            color: $color__cuarter;
            font-size: 2em;
            padding: 1rem;
        }
    }
}